%h1 this is the article index

- @articles.each do |article|
	%h2= article.title
	%p
		Published at
		= article.created_at.strftime("%b %d, %Y")
	%p= truncate(article.content, length: 200)

- if users_sign_in?
	= link_to "New Article", new_article_path